<h1>What is Perspective?</h1>
<p>Perspective is a personal project of mine I started on June 20, 2016. My goal is to create a unique social network where people can share views on various news.
   Whether that's politics, tech, philosophy, movies, music, whatever you can discuss it here. Currently the website is under development and has not released even under an alpha stage.
