<div class="jumbotron">
<h1>Welcome to Perspective!</h1>
<p>Perspective is a place for posting links to news, tech, or otherwise cool content that you would like to discuss with other users.</p>
<%= link_to "Sign Up", "#", class: "btn btn-success btn-lg" %>
</div>
