<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li><%= link_to "About",   about_path %></li>
            </ul>
        </nav>
        <%= debug(params) if Rails.env.development? %>
    </div>
</footer>
