<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Perspective", root_path, id: "logo" %></li>
      </ul>
      <div class="nav navbar-nav navbar-right btn-group">
        <%= link_to "Log in", "#", class: "btn navbar-btn btn-default" %>
        <%= link_to "Sign Up", "#", class: "btn btn-success navbar-btn" %>
      </div>
    </div>
  </nav>
</header>
